body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1196px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding-top: 41px;
  margin-bottom: 117px;
}

.header-box {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 175px;
  padding-left: 72.5px;
}

.nav-header {
  width: 862px;
}

.list-nav {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-bottom: 13px;
}

.list-item-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #373737;
  
}

.nav-hr {
  width: 23px;
  height: 3px;
  background: #717CFF;
  border-radius: 2px;
  border: none;
}

.header-link {
  border: 2px solid #A6ADFF;
  border-radius: 11px;
  padding: 9px 30px 13px 30px;
  background-color: #fff;
  text-decoration: none;
  font-size: 17px;
  line-height: 20px;
  text-align: center;  
  color: #505050;
}

.hero-bottom {
  display: flex;
  padding-left: 71.5px;
}

.hero-left {
  margin-right: 61px;
}

.hero-title {
  font-weight: 900;
  font-size: 56px;
  line-height: 66px;  
  color: #2F2F2F;
  width: 632px;
  margin-bottom: 15px;
}

.hero-title-span {
  color: #717CFF;
}

.hero-text {
  width: 632px;
  font-weight: 500;
  font-size: 22px;
  line-height: 38px;  
  color: #7D7D7D;
  margin-bottom: 42px;
}

.apply-button {
  width: 262px;
  height: 64px;
  display: flex;
  align-items: center;
  background-color: #717CFF;
  border-radius: 11px;
  margin-bottom: 104px;
  border: none;
}

.apply-button-text {
  width: 138px;
  height: 40px;
  font-weight: 500;
  font-size: 22px;
  line-height: 40px;
  color: #FFFFFF;
  padding: 12px 34px;
}

.apply-button-right {
  color: #37474F;
}

.hero-left-bottom-list {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.hero-bottom-item {
  margin-left: 10px;
  margin-right: 20px;
}

.feature {
  background-color: #FAFAFA;
}

.feature-title {
  font-weight: 500;
  font-size: 23px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 2.1px;
  text-transform: uppercase;
  color: #373737;
  opacity: 0.73;
  padding-top: 55px;
  margin-bottom: 86px;
}

.feature-list-un {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin-bottom: 104px;
  padding-left: 51.5px;
}

.feature-list-p {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-bottom: 57px;
}

.p-item {
  margin-left: 21px;
}

.services-title {
  font-size: 37px;
  line-height: 54px;
  text-align: center;
  letter-spacing: -0.4625px;  
  color: #373737;
  padding-top: 122px;
  margin-bottom: 25px;
}

.services-text {
  font-weight: 500;
  font-size: 22px;
  line-height: 38px;
  text-align: center;
  color: #7D7D7D;
  text-align: center;
  margin-bottom: 110px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding-bottom: 126px;
}

.services-item {
  width: 344px;
  box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
  margin: 25px;
}

.item-box {
  margin-left: 31px;
  padding-top: 29px;
  padding-bottom: 35px;
}

.services-item-img {
  margin-bottom: 30px;
}

.services-item-title {
  font-size: 24px;
  line-height: 37px;
  color: #37474F;
  margin-bottom: 9px;  
}

.services-item-text {
  width: 296px;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.444444px;
  color: rgba(55, 71, 79, 0.721569);  
  margin-bottom: 25px;
}

.services-list-apply {
  display: flex;
}

.list-apply {
  text-decoration: none;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.439286px;
  color: #717CFF;
  margin-right: 20.5px;
}

.list-apply-link {
  color: #717CFF;
  padding-top: 4.5px;
}

.news {
  background-color: #fafafa;
}

.news-box {
  padding-bottom: 124px;
}

.news-title {
  font-weight: bold;
  font-size: 37px;
  line-height: 54px; 
  text-align: center;
  letter-spacing: -0.4625px;
  color: #373737;  
  padding-top: 102px;
  margin-bottom: 25px;
}

.news-text {
  font-weight: 500;
  font-size: 22px;
  line-height: 38px;
  text-align: center;  
  color: #7D7D7D;
  margin-bottom: 120px;
}

.news-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 72.5px;
  margin-bottom: 146px;
}

.news-item {
  background: #ffffff;
  box-shadow: 0px 6px 42px rgba(0, 0, 0, 0.103884);
  border-radius: 10px;
}

.item-text-box {
  padding: 28px 26px 62px;
}

.item-date {
  display: flex;
  margin-bottom: 18px;
}

.date-img {
  margin-right: 15px;
}

.date-text {
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  color: #565656;
  
}

.item-text {
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: #252525;
}

.news-button {
  display: flex;
  align-items: center;
  margin-left: 530.5px;
  background: #717CFF;
  border-radius: 11px;
  padding: 12px 0;
  padding-left: 35px;
  border: none;
}

.button-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 22px;
  line-height: 40px;
  color: #FFFFFF;
  margin-right: 41px;
}

.button-icon-link {
  display: flex;
  align-items: center;
  /* padding: 24px 0; */
  padding-right: 38px;
}

.button-icon-img {
  color: #37474F;
}

.upcoming-title {
  font-weight: bold;
  font-size: 37px;
  line-height: 54px;
  text-align: center;
  letter-spacing: -0.4625px;
  color: #373737;
  padding-top: 98px;
  margin-bottom: 25px;
}

.upcoming-text {
  font-weight: 500;
  font-size: 22px;
  line-height: 38px;
  text-align: center; 
  color: #7D7D7D;
  margin-bottom: 100px;
}

.upcoming-list {
  list-style-type: none;
  padding-left: 72.5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.upcoming-item {
  /* width: 540px; */
  background: #FFFFFF;
  box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
  padding: 30px 28px 31px 31px;
}

.upcoming-item-univer {
  display: flex;
  margin-bottom: 29px;
}

.item-univer-box {
  align-items: center;
  background-color: #ebedff;
  border-radius: 11px;
  width: 76px;
  height: 76px;
  margin-right: 19px;
}

.univer-box1 {
  padding-top: 10px;
  font-size: 27px;
  line-height: 32px; 
  text-align: center; 
  color: #717cff;
  
}

.univer-box2 {
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #717cff;
}

.item-univer-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 37px;
  color: #37474F;
  
}

.upcoming-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.444444px;
  color: rgba(55, 71, 79, 0.721569);
  margin-bottom: 26px;
}

.upcoming-item-button {
  display: flex;
  align-items: center;
}

.item-button1 {
  display: flex;
  align-items: center;
  margin-right: 188px;
}

.item-button-link {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px; 
  letter-spacing: 0.439286px; 
  color: #717cff;
  text-decoration: none;
  margin-right: 20.5px;
}

.item-link-icon {
  display: flex;
  align-items: center;
  padding-top: 3px;
}

.item-link-icon img{
  color: #717cff;
}

.item-button2 {
  display: flex;
  align-items: center;
}

.upcom-list {
  margin-bottom: 108px;
}

.country {
  background-color: #fafafa;
  padding-top: 82px;
  padding-bottom: 136px;
}

.country-title {
  font-weight: bold;
  font-size: 37px;
  line-height: 54px;
  text-align: center;
  letter-spacing: -0.4625px;
  color: #373737;
  margin-bottom: 25px;
}

.country-text {
  font-weight: 500;
  font-size: 22px;
  line-height: 38px;
  text-align: center; 
  color: #7d7d7d;
  margin-bottom: 77px;
}

.country-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-bottom: 83px;
}

.country-item {
  width: 348px;
  height: 354px; 
  padding-bottom: 13px;
}

.coun-item-img {
  margin-bottom: 27px;
}

.coun-item-title {
  font-weight: 900;
  font-size: 25px;
  line-height: 29px;  
  color: #37474f; 
  margin-bottom: 11px;
}

.coun-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: rgba(55, 71, 79, 0.721569);
}

.testimonial {
  padding-top: 115px;
  padding-bottom: 98px;
}

.testimonial-title {
  font-weight: bold;
  font-size: 37px;
  line-height: 54px;
  text-align: center;
  letter-spacing: -0.4625px;
  color: #373737;
  margin-bottom: 25px;
}

.testimonial-text {
  font-weight: 500;
  font-size: 22px;
  line-height: 38px;
  text-align: center; 
  color: #7d7d7d;
  margin-bottom: 148px;
}

.testimonial-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 72.5px;
  margin-bottom: 85px;
}

.testimonial-item {
  width: 503px;
  padding: 39px 0 46px 34px;
  box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
  border-radius: 29px;
}

.testi-item-img {
  display: flex;
  margin-bottom: 30px;
}

.testi-img {
  margin-right: 28px;
}

.testimonial-item-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testi-item-title {
  font-weight: 900;
  font-size: 22px;
  line-height: 26px;
  color: #37474f;
}

.testi-item-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #37474f;
  opacity: 0.65;
}

.testimonial-item-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 31px;
  color: rgba(55, 71, 79, 0.721569);
  
}

.dream {
  background-color: #fafafa;
  padding-top: 82px;
  padding-bottom: 74px;
}

.dream-box {
  display: flex;
  align-items: center;
}

.dream-title {
  font-weight: 700;
  font-size: 37px;
  line-height: 43px;
  color: #252525;
  padding-left: 72px;
  margin-right: 370px;
}

.dream-button {
  margin: 0;
}

.footer {
  padding-left: 72.5px;
  padding-top: 64px;
  padding-bottom: 45px;
  background-color: #717cff;
}

.footer-main {
  display: flex;
}

.footer-logo {
  margin-right: 130px;
}

.footer-img {
  display: flex;
  flex-direction: column;
}

.footer-img-link {
  margin-bottom: 26px;
}

.footer-img-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #eee;  
}

.footer-nav {
  display: flex;
}

.footer-main-list {
  list-style-type: none;
  margin-right: 106px;
}

.footer-item-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 49px;
  color: #eee;
  
}

.footer-list-logo {
  list-style-type: none;
  display: flex;
  padding-top: 165px;
}

.footer-logo-item:not(:last-child) {
  margin-right: 28px;
}

.footer-text {
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  color: #eee;
}